<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ .Title }}</title>
</head>
<body>
	<form method="POST">
		<label >Username:<br></label>
		<input type='text' name='username'><br>
		<label>Password:<br></label>
		<input type='password' name='password'><br>
		<label>Confirm Password:<br></label>
		<input type='password' name='confirmpassword'><br>
		<input type='submit' value='Submit'>
	</form>

</body>
</html>
